.account{
    flex: 1;
}
.account-main{
    padding: 24px;
}
.addnum{
    background: #2873FF;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 3px 12px;
}
.account-input{
    background: #f6f6f6;
    padding: 14px 0 14px 24px ;
}
.account-input p{
    display: inline-block;
    width: 35%;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0;
    padding: 3px 10px;
}
.account-input p input{
    border: none;
    outline: none;
    margin-left: 15px;
}
.account-input button{
    border: none;
    color: #fff;
    background: rgba(0,0,0,0.85);
    border-radius: 2px;
    padding: 3px 25px;
    margin-left: 30px;
}