.tools{
    flex: 1;
    background: #f6f6f6;
}
.tools-content{
    padding: 24px;
}
.tools-content a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.tools-content a dl{
    width: 300px;
    background: #fff;
    padding: 16px 22px;
    box-sizing: border-box;
    margin-right: 22px;
    display: flex;
}
.tools-content a dl dt{
    flex: 1;
    float: left;
}
.tools-content a dl dd{
    flex: 2;
}
.tools-content a dl dt span{
    display: inline-block;
    color: #fff;
    width: 60%;
    height: 40%;
    font-size: 30px;
    background: orange;
    border-radius: 50%;
    text-align: center;
    line-height: 178%;
    margin-left: 25%;
    margin-top: 15%;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.05);
}
.tools-content a dl dd h3{
    font-size: 18px;
    font-weight: bold;
}
.tools-content a dl dd p{
    margin: 0;
    color: #000;
    text-decoration: none;
}